      <!-- Dropdown Trigger -->
  <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Add Transaction</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="/transactions/incomes">Incomes</a></li>
    <li><a href="/transactions/expenses">Expenses</a></li>
    <li class="divider" tabindex="-1"></li>
  </ul>