{{!-- <a href="/transactions/edit:id" class="waves-effect waves-teal btn btn-small btn-float teal lighten-3"><i class="fas fa-edit fa-small"></i></a>
          <a class="waves-effect waves-red btn btn-small red lighten-3"><i class="fas fa-trash fa-small"></i></a> --}}