<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  <title>CountLess</title>
</head>
<body>
  {{> _header}}
  <div class="container">
    {{{body}}}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.15.1/ckeditor.js" integrity="sha512-aThGT4RJc95+zt2vrs8iMjrFpsJxcFclp7tweVls6/3cNo3GWvGvtLV576o8Kdvdf3fJhrrG3wkmoea/KJMLFQ==" crossorigin="anonymous"></script>
{{!-- <script src="../../views/script/materialize.js"></script> --}}
<script>

  const sideNav = document.querySelector('.sidenav'),
        category = document.querySelector('.transaction-category-auto'),
        subCategory = document.querySelector('.transaction-sub-category-auto'),
        calendar = document.querySelector('.datepicker'),
        editFAB = document.querySelectorAll('.fixed-action-btn');
  
  
  let transactionGroupOptions = {"Expenses": null, "Income": null}
  let transactionCategoryOptions = {      
    "Everyday": null,
    "Education": null,
    "Entertainment": null,
    "Child": null,
    "Gifts": null,
    "Insurance": null,
    "Health/medical": null,
    "Utilities": null,
    "Home": null,
    "Technology": null,
    "Transportation": null,
    "Travel": null,
    "Wages": null,
    "Other": null}
  let transactionSubCategoryOptions = {
    "Groceries": null,
    "Restaurants": null,
    "Personal Supplies": null,
    "Clothes": null,
    "Laundry/detergents": null,
    "Hair/beauty": null,
    "Subscriptions": null,
    "Other": null,
    "Tuition": null,
    "Books": null,
    "Music lessons": null,
    "Concerts/shows": null,
    "Games": null,
    "Hobbies": null,
    "Movies": null,
    "Music": null,
    "Outdoor activities": null,
    "Photography": null,
    "Sports": null,
    "Theater/plays": null,
    "TV": null,
    "Activities": null,
    "School": null,
    "Books: null, crafts: null, games": null,
    "Toys": null,
    "Gifts": null,
    "Donations (charity)": null,
    "Car": null,
    "Health": null,
    "Doctors/dental/vision": null,
    "Specialty care": null,
    "Pharmacy": null,
    "Supplements": null,
    "Emergency": null,
    "Phone": null,
    "Rent": null,
    "Internet": null,
    "Electricity": null,
    "Heat/gas": null,
    "Water": null,
    "Trash": null,
    "Furnishings": null,
    "Lawn/garden/plants": null,
    "Supplies (cleaning etc)": null,
    "Maintenance": null,
    "Improvements": null,
    "Domains & hosting": null,
    "Online services": null,
    "Hardware": null,
    "Software": null,
    "Gadgets": null,
    "Electronic equipment": null,
    "Fuel": null,
    "Car payments": null,
    "TAXI": null,
    "Registration/license": null,
    "Supplies": null,
    "Public transit": null
  }

  M.Sidenav.init(sideNav);

  document.addEventListener('DOMContentLoaded', function(){
    let group = document.querySelector('.transaction-group-options');
    let groupInstance = M.FormSelect.init(group);
  })

  M.Autocomplete.init(category, {data: transactionCategoryOptions});
  M.Autocomplete.init(subCategory, {data: transactionSubCategoryOptions});
  M.Datepicker.init(calendar, {autoClose: true});
  M.FloatingActionButton.init(editFAB, {direction: 'right', hoverEnabled: true})
</script>
  
</body>
</html>